body,
footer,
nav,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: "Source Sans Pro", Arial, sans-serif;
    
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
} 
a{
	text-decoration: none !important;
}

.form-container
{
	background-color: #fff;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    border-radius: 8px;	
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.f-cls{
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 16px !important;
    color: #919090 !important;
}